<div class="container">
 <div class="navlinks" data-role="header" data-position="fixed">
  <nav class="nav_bar row text-center">
	<a href="">Home</a>
	<a href="/blog.html">Blog</a>
	<a href="">Projects</a>
	<a href="">Contact</a>
	<a href="">About</a>
  </nav>
 </div>
</div>
 <br />
 <div class="col" data-role="footer" data-position="fixed">
  <nav class="nav_bar row text-center" id="footer">
   <a href="https://www.facebook.com/joshua.tucker.5836" target="_blank">Facebook</a>
   <a href="https://github.com/jctu225" target="_blank">Github</a>
   <a href="https://www.linkedin.com/in/joshua-tucker-a0943713a/" target="_blank">Linkdin</a>
  </nav>
 </div>